// This is where your styles can go, import any other scss or css files here or write your own style directly below

body,
body * {
  box-sizing: border-box;
}

.tooltip-inner {
  background-color: white !important;
  padding: 20px !important;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.4);
  /*!important is not necessary if you place custom.css at the end of your css calls. For the purpose of this demo, it seems to be required in SO snippet*/
}
